.focused-section {
  width: 100%;
  overflow: hidden;
}

.focused-section .marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
}

.focused-section .marquee-content {
  display: inline-flex;
  animation: focused-marquee 40s linear infinite;
  -webkit-animation: focused-marquee 40s linear infinite;
  -moz-animation: focused-marquee 40s linear infinite;
  will-change: transform;
}

.focused-section .marquee-container .marquee-content:hover {
  animation-play-state: running;
}

@keyframes focused-marquee {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
  }
}

@-webkit-keyframes focused-marquee {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
  }
}

@-moz-keyframes focused-marquee {
  0% {
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
  }
}
