/* Focused Section Marquee - Optimized 2-Element Seamless Infinite Scroll */
.running-text-marquee-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  user-select: none;
}

/* Base marquee container styles */
.running-text-marquee-wrapper .marquee-container {
  display: flex;
  width: max-content;
  will-change: transform;
}

/* Left direction animation */
.running-text-marquee-wrapper .marquee-left {
  animation: focused-marquee-left 20s linear infinite;
  -webkit-animation: focused-marquee-left 20s linear infinite;
  -moz-animation: focused-marquee-left 20s linear infinite;
}

/* Right direction animation */
.running-text-marquee-wrapper .marquee-right {
  animation: focused-marquee-right 20s linear infinite;
  -webkit-animation: focused-marquee-right 20s linear infinite;
  -moz-animation: focused-marquee-right 20s linear infinite;
}

/* Responsive animation speeds */
@media (max-width: 640px) {
  .running-text-marquee-wrapper .marquee-left,
  .running-text-marquee-wrapper .marquee-right {
    animation-duration: 10s;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .running-text-marquee-wrapper .marquee-left,
  .running-text-marquee-wrapper .marquee-right {
    animation-duration: 15s;
    -webkit-animation-duration: 15s;
    -moz-animation-duration: 15s;
  }
}

@media (min-width: 1025px) {
  .running-text-marquee-wrapper .marquee-left,
  .running-text-marquee-wrapper .marquee-right {
    animation-duration: 20s;
    -webkit-animation-duration: 20s;
    -moz-animation-duration: 20s;
  }
}

/* Hover pause for both directions */
.running-text-marquee-wrapper .marquee-left:hover,
.running-text-marquee-wrapper .marquee-right:hover {
  animation-play-state: running;
}

/* Left direction keyframes - seamless infinite */
@keyframes focused-marquee-left {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
  }
}

@-webkit-keyframes focused-marquee-left {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
  }
}

@-moz-keyframes focused-marquee-left {
  0% {
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
  }
}

/* Right direction keyframes - seamless infinite */
@keyframes focused-marquee-right {
  0% {
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes focused-marquee-right {
  0% {
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes focused-marquee-right {
  0% {
    transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }
}

/* Text styling for smooth flow */
.running-text-marquee-wrapper .marquee-content {
  display: inline-flex;
  flex-shrink: 0;
}

.running-text-marquee-wrapper .marquee-content > div {
  padding: 0 2rem;
  flex-shrink: 0;
}

.running-text-marquee-wrapper .marquee-content p {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1.2;
  white-space: nowrap;
  color: attr(data-color);
}

/* Performance optimizations */
.running-text-marquee-wrapper .marquee-content * {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}