.development-phones .phone-1 {
  animation: float 6s ease-in-out -3s infinite;
}

.development-phones .phone-2 {
  animation: float 6s ease-in-out infinite;
}


@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
